In [44]:
import pandas as pd

df = pd.read_csv('netflix_ds.csv')
df.columns

Index(['Profile Name', 'Start Time', 'Duration', 'Attributes', 'Title',
       'Supplemental Video Type', 'Device Type', 'Bookmark', 'Latest Bookmark',
       'Country'],
      dtype='object')

In [45]:
df.drop(['Duration', 'Attributes', 'Supplemental Video Type', 'Bookmark', 'Latest Bookmark'], 
        axis = 1, inplace = True)
df.head(2)

,Profile Name,Start Time,Title,Device Type,Country
0,ASAFE JOABE,2022-09-20 01:18:15,Bakugan - Guerreiros da Batalha: Temporada 1: ...,Microsoft Xbox 360,BR (Brazil)
1,ASAFE JOABE,2022-09-20 00:45:46,Voltron - O Defensor Lendário: Temporada 2: Na...,Microsoft Xbox 360,BR (Brazil)

In [46]:
df['Country'].unique()

array(['BR (Brazil)', 'ZZ (Unknown Region)', 'US (United States)',
       'CA (Canada)', 'DE (Germany)', 'SG (Singapore)'], dtype=object)

In [49]:
sel = df['Country'] == 'BR (Brazil)'# 58363 registros
#sel = df['Country'] == 'US (United States)'# 42 registros
#sel = df['Country'] == 'CA (Canada)'# 6 registros
#sel = df['Country'] == 'SG (Singapore)'# 2 registros
#sel = df['Country'] == 'DE (Germany)'# 3 registros
#sel = df['Country'] == 'ZZ (Unknown Region)'# 3 registros

df[sel].tail()

,Profile Name,Start Time,Title,Device Type,Country
58414,Renan,2014-01-25 14:39:02,Vida de inseto,PC,BR (Brazil)
58415,Renan,2014-01-25 02:36:34,Carros,PC,BR (Brazil)
58416,Renan,2014-01-25 01:05:26,Bolt - Supercão,PC,BR (Brazil)
58417,Renan,2014-01-22 00:42:48,Up - Altas aventuras,PC,BR (Brazil)
58418,Renan,2014-01-12 16:58:51,Patati Patatá: Season 1: Os grandes sucessos d...,Apple iPad 3,BR (Brazil)